<ion-header>
  <ion-navbar>
    <ion-title>
      Chat Application
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button block outline (click)="loginUser()">Login</button>
</ion-content>
