page-chat {
  .innerMessage {
    display: inline-block;
    padding: 5px 10px;
    background: color($colors, 'primary');
    margin: 5px;
    color: white;
    border-radius: 3px;
  }

  .username {
    font-weight: bold;
    font-size: 80%;
  }

  .message {
    font-size: 120%;
  }

  .elem button {
    border-radius: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .elem {
    position: relative;
    min-width: 50px;
  }

  #footer div.elem:first-child {
    flex-grow: 1;
  }

  #footer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .messageLeft{
    float: left;
  }

  .messageRight{
    float: right;
    background: color($colors, secondary);
  }

  .message:after {
    content: '';
    display: block;
    clear:both;
  }

  ion-toolbar {
    margin: 0!important;
    padding: 0!important;
  }
}
