<ion-header>
  <ion-navbar>
    <ion-title>
      Social Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button icon-only (click)="login(providers.facebook)" *ngIf="!user.loggedin" style="background-color: blue">
    <ion-icon name="logo-facebook"></ion-icon>
  </button>
  <button ion-button icon-only (click)="login(providers.google)" *ngIf="!user.loggedin" style="background-color: red">
    <ion-icon name="logo-google"></ion-icon>
  </button>
  <button ion-button icon-only (click)="login(providers.twitter)" *ngIf="!user.loggedin">
    <ion-icon name="logo-twitter"></ion-icon>
  </button>
  <button ion-button icon-only (click)="login(providers.github)" *ngIf="!user.loggedin" style="background-color: black">
    <ion-icon name="logo-github"></ion-icon>
  </button>

  <ion-card *ngIf="user.loggedin">
    <img src="{{user.profilePicture}}" />
    <ion-card-content>
      <ion-card-title>
        {{user.name}}
      </ion-card-title>
      <p style="text-align: center">
        {{user.email}}
      </p>
    </ion-card-content>
  </ion-card>

  <button ion-button (click)="logout()" *ngIf="user.loggedin">Logout</button>
</ion-content>
