<!--
  Generated template for the FirstPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hi there</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  This is a standard page consisting of nothing.
  <button ion-button color="primary" (click)="popThis()">Go back</button>
</ion-content>
