<ion-header>
  <ion-navbar>
    <ion-title>
      Social Network
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full color="light" (click)="openFirstPage()">Click Me</button>
  <br>

  <div padding id="topButtons">
    <button ion-button (click)="signIn()">Sign In</button>
    <button ion-button (click)="register()">Register</button>
  </div>
</ion-content>
